/* Variables */
:root {
    /* Breakpoints */
    /*
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    */

    /* Colors */
    --color-primary: #f3c428;
    --color-secondary: #e01717;
    --black: #000000;
    --white: #ffffff;

    /* Tamaños de Fuentes */
    --size-xxs: 0.5rem;
    --size-xs: 1rem;
    --size-sm: 1.5rem;
    --size-md: 2rem;
    --size-lg: 2.5rem;
    --size-xl: 3rem;
    --size-xxl: 3.5rem;
    --size-xxxl: 4rem;

    /* Tamaños de Espacios */
    --space-xxs: 0.3125rem;
    --space-xs: 0.625rem;
    --space-sm: 0.9375rem;
    --space-md: 1.25rem;
    --space-lg: 1.5625rem;
    --space-xl: 1.875rem;
    --space-xxl: 2.1875rem;
    --space-xxxl:  3.75rem;
}





/* Normalización */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
  /* 1rem */
  font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6, a, span, input, label{
    font-size: var(--size-xs);
    font-weight: normal;
}

a{
    color: var(--black);
}

ul{
    list-style: none;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}




/* Utility Classes */
.mw-950{
    max-width: 1024px;
    margin-inline: auto;
    padding-inline: var(--space-md);
}

.h1{
    font-size: var(--size-md);
    font-weight: 500;
    text-align: left;
    margin-block: var(--space-xxxl) var(--space-xl);
}