/* Variables */
:root {
    /* Breakpoints */
    /*
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    */

    /* Colors */
    --color-primary: #f3c428;
    --color-secondary: #f32828;
    --black: #000000;
    --white: #ffffff;

    /* Tamaños de Fuentes */
    --size-xxs: 0.5rem;
    --size-xs: 1rem;
    --size-sm: 1.5rem;
    --size-md: 2rem;
    --size-lg: 2.5rem;
    --size-xl: 3rem;
    --size-xxl: 3.5rem;
    --size-xxxl: 4rem;

    /* Tamaños de Espacios */
    --space-xxs: 0.3125rem;
    --space-xs: 0.625rem;
    --space-sm: 0.9375rem;
    --space-md: 1.25rem;
    --space-lg: 1.5625rem;
    --space-xl: 1.875rem;
    --space-xxl: 2.1875rem;
    --space-xxxl: 2.5rem;
}





/* Normalización */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    color: var(--black);
}

html {
  /* 1rem */
  font-size: 16px;
}





/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    background-color: var(--color-primary);
    color : var(--black);
    padding: var(--space-sm) var(--space-md);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-xxs);
}

@media (min-width: 768px) {
    .nav__hamburger{
        display: none;
    }
}

.nav__item{
    display: flex;
    gap: var(--space-xxs);
}

.nav__item--md{
    display: none;
}

@media (min-width: 768px) {
    .nav__item--md{
        display: flex;
    }
}

.nav__link{
    padding: var(--space-xxs);
    border-radius: var(--space-xxs);
    font-weight: bold;
}

.nav__link:hover{
    background-color: var(--color-secondary);
    color: var(--white);
}