/* Header */
.header{
    background-color: var(--color-primary);
    position: relative;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    color : var(--black);
    padding: var(--space-sm) var(--space-md);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-xxs);
}

@media (min-width: 768px) {
    .nav__hamburger{
        display: none;
    }
}

.nav__ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right:0;
    left: 0;
    background-color: var(--color-primary);
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: var(--space-md) 0;
    gap: var(--space-md);
}

@media (min-width: 768px) {
    .nav__ul{
        position: relative;
        flex-direction: row;
        gap: var(--space-xxs);
        padding: 0;
        gap: 0;
        width: auto;
    }
}

.nav__ul--mdhide{
    display: none;
}

@media (min-width: 768px) {
    .nav__ul--mdhide{
        display: flex;
    }
}

.nav__link{
    padding: var(--space-xxs);
    border-radius: var(--space-xxs);
    font-weight: bold;
}

.nav__link:hover{
    background-color: var(--color-secondary);
    color: var(--white);
}

/* Hero */
.hero{
    width: 100%;
    height: auto;
}

/* Formulario */
.form--workhere{
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

@media (min-width: 768px) {
    .form--workhere{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


.form__grid{
    max-width: 450px;
    margin: var(--space-md) auto;
    padding-inline: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

@media (min-width: 768px) {
    .form__grid{
        display: grid;
        grid-template-areas: 
            "name company"
            "email phone"
            "city city"
            "options options";
        max-width: 950px;
    }
}

.form__field{
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

@media (min-width: 768px) {
    .form__field--name{
        grid-area: name;
    }
    .form__field--company{
        grid-area: company;
    }
    .form__field--email{
        grid-area: email;
    }
    .form__field--phone{
        grid-area: phone;
    }
    .form__field--city{
        grid-area: city;
    }
    .form__field--options{
        grid-area: options;
    }
}

.form__input{
    padding: var(--space-xs);
    border-radius: var(--space-xxs);
    border: 1px solid var(--black);
    width: 100%;
}

.form__options{
    display: flex;
    justify-content: space-between;
}

.form__option{
    display: flex;
    align-items: center;
}

.form__radio{
    margin-inline-end: var(--space-xxs);
}

.form__submit{
    padding: var(--space-xs);
    border-radius: var(--space-xxs);
    border: none;
    background-color: var(--color-primary);
    color: var(--black);
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 80%;
    margin: var(--space-md) auto;
}

@media (min-width: 576px) {
    .form__submit{
        width: 50%;
    }
}


/* Tracto Route */
.year{
    text-align: left;
    margin-block: var(--space-md);
    gap: var(--space-md);
}

.year--last{
    margin-block-end: 0;
    margin-block-end: var(--space-xxl);
}

@media (min-width: 768px) {
    .year{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        margin: 0;
    }
    
    .year--last{
        margin-block-end: 0;
        margin-block-end: var(--space-xxl);
    }

    .year__card--end{
        order: 1;
    }

    .year::after{
        content: "";
        display: block;
        width: 3px;
        background-color: var(--color-secondary);
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .year::before{
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        background-color: var(--color-secondary);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }
}

.year__card{
    padding: var(--space-md);
}

.year__image{
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
    margin-inline: auto;
    object-fit: cover;
    object-position: right;
}

.year__title{
    display: block; 
    text-align: left;
    margin-block-end: var(--space-md);
    font-weight: bold;
    font-size: var(--size-sm);
}

.year__content{
    margin-block-start: var(--space-md);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Tracto branches */
.location{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    margin-block-end: var(--space-md);
}

@media (min-width: 768px) {
    .location{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-sm);
    }
}

.location__map{
    width: 100%;
    max-width: 450px;
    height: 550px;
    margin: auto;
    border: none;
}

@media (min-width: 768px) {
    .branches{
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-block-end: var(--space-md);
    }

    .branches__container{
        max-height: 450px;
        overflow-y: scroll;
    }
}

.branches__branch{
    padding: var(--space-md);
    border-inline: .5px solid var(--black);
    border-block-start: .5px solid var(--black);
}

.branches__branch--last{
    border-block-end: .3px solid var(--black);
}

.branch__city{
    font-weight: bold;
    font-size: var(--size-sm);
    color: var(--color-secondary);
}

.branches__tellabel{
    font-weight: bold;
}