/* Header */
.header {
    background-color: var(--color-primary);
    position: relative;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    padding: var(--space-md);
}

.navbar__logo:hover {
    transform: scale(1.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-xxs);
}

@media (min-width: 768px) {
    .nav__hamburger {
        display: none;
    }
}

.nav__ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: var(--color-primary);
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: var(--space-md) 0;
    gap: var(--space-md);
    z-index: 10;
}

@media (min-width: 768px) {
    .nav__ul {
        position: relative;
        flex-direction: row;
        padding: 0;
        width: auto;
    }
}

.nav__ul--mdhide {
    display: none;
}

@media (min-width: 768px) {
    .nav__ul--mdhide {
        display: flex;
    }
}

.nav__link {
    padding: var(--space-xxs);
    border-radius: var(--space-xxs);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav__link:hover {
    background-color: var(--color-secondary);
    color: var(--white);
    fill: var(--white);
}

.nav__link--home:hover {
    background-color: unset;
    color: unset;
    transform: scale(1.1);
}

.nav__home:hover {
    fill: var(--color-secondary);

}

/* Carrousel */

.carrousel__content {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-inline: var(--space-md);
}

@media (min-width: 768px) {
    .carrousel__content {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
    }
}

.carrousel__slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.carrousel__heading {
    display: block;
    color: var(--white);
    font-size: var(--size-xxl);
    font-weight: bold;

}

.carrousel__text {
    color: var(--white);
    font-size: var(--size-md);
}

.carrousel__heading--primary {
    color: var(--color-primary);
}

.exchange {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .exchange {
        padding-block-end: var(--space-xxl);
        justify-content: center;
        align-items: end;
    }
}

@media (min-width: 992px) {
    .exchange {
        padding: 0 calc(var(--space-xxxl)) calc(var(--space-xxxl)) 0;
        justify-content: end;
        align-items: end;
    }
}

.exchange__content {
    background-color: var(--gray);
    border-radius: var(--space-xxs);
    padding: var(--space-sm) var(--space-xxl);
}

.exchange__heading {
    color: var(--color-primary);
    font-size: var(--size-md);
    font-weight: 500;
    text-align: center;
}

.exchange__table {
    margin-block: var(--space-md);
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.exchange__td {
    text-align: center;
    color: var(--white);
}

.exchange__td--th {
    color: var(--color-primary);
}

.exchange__tosymbol {
    color: var(--color-primary);
}

.exchange__font {
    color: var(--color-primary);
    text-align: center;
}

.exchange__font--title {
    font-weight: bold;
}

.hero {
    width: 100%;
    object-fit: cover;
    height: 700px;
    object-position: 50%;
}

@media (min-width: 992px) {
    .hero {
        height: auto;
    }
}

/* Formulario */
.form__workhere {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

@media (min-width: 768px) {
    .form__workhere {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


.form__contact {
    max-width: 450px;
    margin: var(--space-md) auto;
    padding-inline: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

@media (min-width: 768px) {
    .form__contact {
        display: grid;
        grid-template-areas:
            "name company"
            "email phone"
            "city city"
            "options options";
        max-width: 950px;
    }
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

@media (min-width: 768px) {
    .form__field--name {
        grid-area: name;
    }

    .form__field--company {
        grid-area: company;
    }

    .form__field--email {
        grid-area: email;
    }

    .form__field--phone {
        grid-area: phone;
    }

    .form__field--city {
        grid-area: city;
    }

    .form__field--options {
        grid-area: options;
    }
}

.form__label--error {
    color: var(--color-alert-error);
}

.form__input {
    padding: var(--space-xs);
    border-radius: var(--space-xxs);
    border: 1px solid var(--black);
    width: 100%;
    outline: none;
}

.form__input--focus {
    border: 1px solid var(--color-secondary);
}

.form__input--focus::placeholder {
    color: var(--color-secondary);
}


.form__options {
    margin-block-start: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

@media (min-width: 768px) {
    .form__options {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
}

.form__option {
    display: flex;
    align-items: center;
}

.form__radio {
    margin-inline-end: var(--space-md);
    width: 20px;
    height: 20px;
}

.form__submit {
    padding: var(--space-xs);
    border-radius: var(--space-xxs);
    border: none;
    background-color: var(--color-primary);
    color: var(--black);
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 80%;
    margin: var(--space-md) auto;
}

@media (min-width: 576px) {
    .form__submit {
        width: 50%;
    }
}


/* Tracto Route */
.year {
    text-align: left;
    margin-block: var(--space-md);
    gap: var(--space-md);
}

.year--last {
    margin-block-end: 0;
    margin-block-end: var(--space-xxl);
}

@media (min-width: 576px) {
    .year {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        margin: 0;
    }

    .year--last {
        margin-block-end: 0;
        margin-block-end: var(--space-xxl);
    }

    .year__card--end {
        order: 1;
    }

    .year::after {
        content: "";
        display: block;
        width: 3px;
        background-color: var(--color-secondary);
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .year::before {
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        background-color: var(--color-secondary);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }
}

.year__card {
    padding: var(--space-md);
}

.year__image {
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
    object-fit: cover;
    object-position: right;
}

.year__title {
    display: block;
    text-align: left;
    margin-block-end: var(--space-md);
    font-weight: bold;
    font-size: var(--size-sm);
}

.year__content {
    margin-block-start: var(--space-md);
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-md);
}


/* Tracto branches */
.location {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    margin-block-end: var(--space-md);
}

@media (min-width: 768px) {
    .location {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-sm);
    }
}

.location__map {
    width: 100%;
    max-width: 450px;
    height: 550px;
    margin: auto;
    border: none;
}

@media (min-width: 768px) {
    .branches {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-block-end: var(--space-md);
    }

    .branches__container {
        max-height: 450px;
        overflow-y: scroll;
    }
}

.branches__branch {
    padding: var(--space-md);
    border-inline: .5px solid var(--black);
    border-block-start: .5px solid var(--black);
}

.branches__branch--last {
    border-block-end: .3px solid var(--black);
}

.branch__city {
    font-weight: bold;
    font-size: var(--size-sm);
    color: var(--color-secondary);
}

.branches__tellabel {
    font-weight: bold;
}

/* Alerta */
.alert {
    position: fixed;
    padding: 0 0 var(--space-xs) 0;
    border-radius: 5px;
    margin: calc(var(--space-xs)*3);
    top: 0;
    left: 0;
    width: calc(var(--space-xxxl) * 4);
    animation: alert 0.5s ease-in-out;
    z-index: 20;
}

.alert--error {
    background-color: var(--color-alert-error);
}

.alert--success {
    background-color: var(--color-alert-success);
}

.alert__progress {
    position: relative;
    width: 100%;
    height: var(--space-xs);
    border-radius: 5px 5px 0 0;
}

.alert__progress--error {
    background-color: var(--color-alert-error-light);
}

.alert__progress--success {
    background-color: var(--color-alert-success-light);
}

.alert__progressbar {
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: progress var(--alert-time) linear;
}

.alert__progressbar--error {
    background-color: var(--color-alert-error);
}

.alert__progressbar--success {
    background-color: var(--color-alert-success);
}

.alert__message {
    color: var(--white);
    font-weight: bold;
    padding-inline: var(--space-xs);
}

@keyframes alert {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes progress {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

/* Landing */

@media (min-width: 768px) {
    .landing__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
}

.pagination__item {
    display: block;
    width: 30px;
    height: 30px;
    font-weight: bold;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination__item:hover {
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.pagination__item--active {
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.pagination__link:hover {
    cursor: pointer;
}

/* Entrys */
.entrys {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

@media (min-width: 576px) {
    .entrys {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

.entrys__heading {
    text-align: center;
    margin-block: var(--space-md);
    font-weight: bold;
    font-size: var(--size-sm);
}

@media (min-width: 768px) {
    .entrys__page {
        grid-column: 1 / 3;
    }
}

.entry {
    text-align: start;
    padding: var(--space-md);
}

.entry__head {
    margin-block-end: var(--space-md);
    text-align: center;
}

.entry__photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.entry__preview {
    margin-block-end: var(--space-md);
}

.entry__readmore {
    color: var(--color-secondary);
    font-weight: bold;
}

/* Aside */
.aside {
    display: none;
}

@media (min-width: 768px) {
    .aside {
        display: block;
        grid-column: 3 / 4;
    }
}

/* Footer */
.footer {
    height: 500px;
    background-image: url(/images/fondo-amarillo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    position: relative;
}

@media (min-width: 992px) {
    .footer {
        background-position: bottom center;
    }
}

.footer__image {
    fill: var(--color-secondary);
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}